USE [KJVBible]
GO
/****** Object:  Table [dbo].[Matrix]    Script Date: 20/02/2022 13:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matrix](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Book] [nvarchar](50) NULL,
	[Chapter] [int] NOT NULL,
	[LastSection] [int] NULL,
 CONSTRAINT [PK_Matrix] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Matrix] ON 

INSERT [dbo].[Matrix] ([ID], [Book], [Chapter], [LastSection]) VALUES (1, N'Ezekiel', 23, 49)
INSERT [dbo].[Matrix] ([ID], [Book], [Chapter], [LastSection]) VALUES (2, N'Zechariah', 5, 11)
INSERT [dbo].[Matrix] ([ID], [Book], [Chapter], [LastSection]) VALUES (3, N'Judges', 20, 48)
GO
SET IDENTITY_INSERT [dbo].[Matrix] OFF
GO
